<div class="card material-table">
<div class="card-body ">
<%= bootstrap_form_for(@user) do |f| %>

    <div class="row">
      <div class="col-md-3 mb-3">
        <h5>Edit user informations</h5>
      </div>
      <div class="col-md-2 mb-3">
        <%= f.text_field :first_name, label_class: "bmd-label-floating"%>
      </div>
      <div class="col-md-2 mb-3">
        <%= f.text_field :last_name, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.email_field :email, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.text_field :fiscal_code, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.text_field :address, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.text_field :city, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.text_field :district, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.text_field :postal_code, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <%= f.phone_field :phone, label_class: "bmd-label-floating" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-2 mb-3">
        <%= f.password_field :password, label_class: "bmd-label-floating"%>
      </div>
      <div class="col-md-2 mb-3">
        <%= f.password_field :password_confirmation, label: "Passowrd confirm", label_class: "bmd-label-floating"%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-4 mb-3">
        <button class= "btn btn-raised btn-primary" id="btn-submit" type="submit">Save changes</button>
      </div>
    </div>
<% end %>
</div>
</div>