<div class="container" id="signin">
  <%= bootstrap_form_for(@user, :html => {:class=> 'form'}) do |f| %>
    <%= f.text_field :first_name, label_class: "bmd-label-floating" %>
    <%= f.text_field :last_name, label_class: "bmd-label-floating" %>
    <%= f.email_field :email, label_class: "bmd-label-floating" %>
    <%= f.password_field :password, label_class: "bmd-label-floating"%>
    <%= f.password_field :password_confirmation, label_class: "bmd-label-floating" %>

    <button class= "btn btn-raised btn-primary btn-lg btn-block" id="btn-submit" type="submit">Sign up</button>
  <% end %>
</div>