<div class="card material-table">
<div class="card-body "> <div class="row">
  <div class="col-md-3 mb-3">
    <h5>User informations</h5>
  </div>
  <div class="col-md-8">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Fiscal code:</strong>
      <%= @user.fiscal_code %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <p>
      <strong>District:</strong>
      <%= @user.district %>
    </p>

    <p>
      <strong>Postal code:</strong>
      <%= @user.postal_code %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>
    </p>
  </div>
  <% unless @user.admin? %>
    <%= link_to "Delete", @user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %>
  <% end %>
</div>
</div>
</div>