<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Billed:</strong>
  <%= @event.billed %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Client:</strong>
  <%= @event.client %>
</p>

<%= link_to 'Destroy', client_event_path(@client, @event), method: :delete, data: { confirm: 'Are you sure?' } %>  |
<%= link_to 'Back', @client %>
